.btn {
  display: inline-block;
  min-width: 497px;
  min-height: 104px;
  padding: 24px 30px 25px 42px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 57px;
  align-items: center;
  text-align: center;
  border-radius: 6px;
  background-color: $color-red;
  color: $color-white;
  text-decoration: none;
  cursor: pointer;

  @media (max-width: $mobile-max) {
    min-width: 278px;
    min-height: 73px;
    padding: 20px 14px;
    font-size: 24px;
    line-height: 33px;
  }
}

.btn-features {
  margin-bottom: 130px;

  @media (max-width: $tablet-max) {
    margin-bottom: 120px;
  }

}
