.features {
  text-align: center
}

.features-inner {
  @include inner;
}

.features-title {
  margin-top: 130px;
  margin-bottom: 100px;
  font-family: $font-open;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
}

.features-visual {
  display: flex;
  margin-bottom: 120px;
}

.features-visual-wrap {
  position: relative;
  margin-right: 20px;
}

.features-img-desc {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  color: $color-white;
  background-color: rgba($color-dark, .5);
}

.features-picture {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
