.menu-list {
  ul {
    display: flex;
    list-style: none;
  }

  .menu-text {
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
  }
}

.menu-item {
  margin-left: 60px;
  padding: 33px 25px;
}
